* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	
    width: 100%;
	color: #FFF;
	background-color: #FFF;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: rgb(50, 50, 50);
	margin-bottom: 1rem;
}

#new-kegiatan-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-kegiatan-input {
	flex: 1 1 0%;
	background-color: rgb(18, 18, 84);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color:white;
	font-size: 1.25rem;
}

#new-kegiatan-input::placeholder {
	color: white;
}

#new-kegiatan-submit {
	color: #ff0000;
	font-size: 0.5cm;
	font-weight: 800;
	cursor: pointer;
	transition: 0.4s;
	
}

#new-kegiatan-submit:hover {font-size: 150%;}

#new-kegiatan-submit:hover {
	opacity: 0.8;
}

#new-kegiatan-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.kegiatan-list {
	padding: 1rem;
}

.kegiatan-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: rgb(0, 0, 0);
	margin-bottom: 1rem;
}

#tasks .kegiatan {
	display: flex;
	justify-content: space-between;
	background-color: rgb(18, 18, 84);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.kegiatan .content {
	flex: 1 8 0%;
}

.kegiatan .content .text {
	color: rgb(255, 255, 255);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.kegiatan .content .text:not(:read-only) {
	color: var(--pink);
}

.kegiatan .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.kegiatan .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.kegiatan .actions button:hover {
	opacity: 0.8;
}

.kegiatan .actions button:active {
	opacity: 0.6;
}

.kegiatan .actions .edit {
	
	color: #00ff22;
}

.kegiatan .actions .delete {
	color: crimson;
}








footer {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

footer h3{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: rgb(50, 50, 50);
	margin-bottom: 1rem;
}

#new-aktivitas-form2 {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-aktivitas-input2 {
	flex: 1 1 0%;
	background-color: rgb(18, 18, 84);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: white;
	font-size: 1.25rem;
}

#new-aktivitas-input2::placeholder {
	color:white;
}

#new-aktivitas-submit2 {
	color: #ff0000;
	font-size: 0.5cm;
	font-weight: 800;
	cursor: pointer;
	transition: 0.4s;
}
#new-aktivitas-submit2:hover {font-size: 150%;}

#new-aktivitas-submit2:hover {
	opacity: 0.8;
}

#new-aktivitas-submit2:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.aktivitas-list2 {
	padding: 1rem;
}

.aktivitas-list2 h4 {
	font-size: 1.5rem;
	font-weight: 300;
	color: rgb(0, 0, 0);
	margin-bottom: 1rem;
}

#tasks2 .aktivitas {
	display: flex;
	justify-content: space-between;
	background-color:  rgb(18, 18, 84);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.aktivitas .content {
	flex: 1 0 0%;
}

.aktivitas .content .text {
	color: rgb(255, 255, 255);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.aktivitas .content .text:not(:read-only) {
	color: var(--pink);
}

.aktivitas .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.aktivitas .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.aktivitas .actions button:hover {
	opacity: 0.8;
}

.aktivitas .actions button:active {
	opacity: 0.6;
}

.aktivitas .actions .edit {
	color: #00ff22;
}

.aktivitas .actions .delete {
	color: crimson;
}

.atas { color:rgb(255, 255, 255);
	background-image: url("temateknologi.jpg");
	background-size: cover;
	height: 100px;
	width: 100%;
	font-size: 20px;
	
	}

	.bawah { color:rgb(255, 255, 255);
		background-image: url("temateknologi.jpg");
		background-size: cover;
		height: 80px;
		width: 100%;
		font-size: 15px;
	}





